.head{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.h2 {
    width: 200px;
    height: 200px;
    background-color: rgb(144, 190, 224);
    border-radius: 50%;
    text-align: center;
    margin: 20px auto;
    font-size: 100px;
    line-height: 200px;
}

.btn-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #45a049;
}

/* quoto  */

.container {
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    margin: 50px auto;
}


